p{color: blue ;}
p{font-size: 210 px;}
p{font-family: Roboto;}
h1{color:yellow;}
body {background-image:"https://media.istockphoto.com/photos/nsummer-beach-and-soft-wave-background-sand-and-sea-tropical-summer-picture-id907805722";}
